body {
  font-family: "timenewroman", serif;
  font-size: 20px;
  text-align: center;
  background-color:Plum;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 320px;
  padding-left: 320px
}  

h1 {
  font-size: 60px;
  font-style: italic;
}


img#book {
  margin: 30px; 
  width: 600px
}

div.formdiv {
  background-color: rgb(247, 218, 247);
  border-width: 8px;
  border-style: outset;
  border-radius: 10px;
  border-color: rgb(155, 78, 155);
  padding: 30px;
  margin-bottom: 30px
}

input[type=text] {
  background-color:white;
  width: 300px;
  height: 30px;
  padding: 25px;
  border-radius: 30px;
  box-sizing: border-box;
  border-color: rgb(155, 78, 155)
}  

div.formdiv2 {
width: 300px;
margin-left: auto;
margin-right: auto;
text-align: justify
}

button {
  font-family: "timesnewroman", serif;
  font-size: 30px;
  background-color:rgb(247, 218, 247);
  border-width: 5px;
  border-color:  rgb(155, 78, 155)
}
